.wrap{
  width: 440px;
  height: 440px;
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 20px;
  position: relative;

}
#square,#s1,#s2,td,ol,textarea,li{
  margin: 0;
  padding: 0;
}
tr{

  box-sizing: border-box;
}
table{
  width: 440px;
  height: 440px;
  text-align: center;
  border-collapse: collapse;
  box-sizing: border-box;
}
.border-style td{
  border:none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.border-style td:first-child{
  border-bottom: none;
}
tr:not(.border-style) td:first-child{
  border:none;
  border-right: 1px solid black;
}
tr:not(.border-style) td:last-child{
  border-right: 1px solid black;
}
tr:last-child td{
  border-bottom: 1px solid black;
}
td{
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border:1px solid #ccc;
}

.square{
  width: 40px;
  height: 40px;
  z-index: 10;
  position: absolute;
  background-color: red;
  /*11处的位置*/
  top:41px;
  left: 41px;
  transition: all 1s;
}

#blue{
  position: relative;
  background-color: blue;
}
.left{
  width: 25%;
  height: 40px;
}
.code{
  display: inline-block;
  width: 250px;
  height: 150px;
  position: relative;
  top: -350px;
  left: 700px;
}
.btn{
  margin-top: -350px;
  margin-left: 760px;
}
ol{
  display: inline-block;
  width: 15px;
  height: 120px;
  background-color: #ccc;
  border:1px solid #538;
  border-right: none;
  overflow:hidden;
  position: relative;
}
li{
  width:15px;
  list-style: none;
  font-size: 8px;
  text-align: center;
  height: 15px;
}
textarea{
  border: 1px solid #538;
  border-left: none;
  margin-left: -8px;
}
/* .li1{
  margin-top: 0;
} */
